#my-pic {
  width: 20%;
  padding: 10px;
  float: right;
  margin-right: 25%;
  border: 4px solid;
  box-sizing: border-box;
  background-color: rgb(173, 199, 219);
}

body {
  background-color: lightgray;
}

#title {
  color: red;
}

.project-list {
  float: left;
}

.section {
  border: 4px solid;
  float: left;
  padding: 10px;
  margin-right: 20px;
  width: 40%;
  background-color: rgb(173, 199, 219);
}

.about-me {
  border: 4px solid;
  float: right;
  margin-top: 10px;
  margin-right: 25%;
  width: 20%;
  box-sizing: border-box;
  background-color: rgb(173, 199, 219);
  padding: 10px;
}

#name {
  border: 4px solid;
  width: 18%;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 40px;
  background-color: rgb(173, 199, 219);
}