.my-pic {
  width: 20%;
  padding: 10px;
  float: right;
  margin-right: 25%;
}

body {
  background-color: lightgray;
}

.title {
  color: red;
}

.project-list {
  float: left;
}

.section {
  border: 4px solid;
  float: left;
  padding: 10px;
  margin-right: 20px;
}